<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<%= form_with scope: :task, url: "/tasks/create" do |form| %>
  <%= form.label :title  %>
  <%= form.text_field :title %>
  <%= form.submit "送信" %>
<% end %>

<h1>Tasks一覧</h1>
<ul>
  <% @tasks.each do |task| %>
    <li><%= task.title %></li>

    <%= debug task %>
  <% end %>
</ul>